@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rdp-background-color: yellow;
  --sidebar-offset: 224px;
}

:root {
  /* sensible default for pages loaded before JS runs */
}

/* Use on your main content wrapper so it shifts when sidebar changes */
.content-with-sidebar {
  margin-left: var(--sidebar-offset);
  transition: margin-left 280ms cubic-bezier(0.2, 0.9, 0.2, 1);
}

/* Don't push content on small screens (mobile) */
@media (max-width: 1023px) {
  .content-with-sidebar {
    margin-left: 0 !important;
  }
}

body {
  scroll-behavior: smooth !important;
}

.hide-search {
  display: none;
}

.why-us-text-shadow {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.16);
}

@media (prefers-reduced-motion: no-preference) {
  .show-search {
    display: flex;
    animation: fadeInSlideRight ease 400ms;
  }
}

.sj-shadow {
  box-shadow: 2px 2px 24px 0px #2c2c2c1a;
}

.hero-search-shadow {
  box-shadow: 4px 4px 16px 0px #2b29291a;
}

.multiline-ellipsis {
  display: -webkit-box; /* Required for multiline ellipsis */
  -webkit-box-orient: vertical; /* Specifies the box's orientation */
  overflow: hidden; /* Hides the overflowing text */
  text-overflow: ellipsis; /* Adds the ellipsis (...) */
  -webkit-line-clamp: 6; /* Number of lines to show */
  line-clamp: 6; /* Number of lines to show */
  line-height: 2; /* Adjust based on your design */
  max-height: calc(2em * 6); /* Matches the number of lines */
}

.refer-bg {
  background-image: url(../../public//assets//imgs/refer.png);
  background-position: top;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner {
  background-image: url(../../public//assets//imgs/home-bg.jfif);
  background-position: top;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-wave-overlay {
  background-image: url(../../public//assets//imgs/wave.png);
  background-position: top;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner-backup {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://assets-global.website-files.com/663cc5b081e30522b7cd88ac/6642b37dc66c0b39ea8c9d96_pexels-pixabay-271816.jpg);
  background-position: 0 20%;
  background-size: auto cover;
  height: auto;
  position: relative;
}

.custom-map-marker {
  max-width: 90px;
  /* height: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  background-color: #ffffff;
  color: black;
  font-weight: 700;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 7px;
  padding: 7px 7px;
  text-transform: capitalize;
  position: relative;
}

.marker-description {
  position: absolute;
  top: -60px;
  left: 0;
  background-color: white;
  border-radius: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-weight: 700;
  font-size: 12px;
  padding: 7px 3px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 7px;
}

h3 {
  font-weight: 500;
  font-size: 40px;
}

.about-one {
  -webkit-transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0)
    rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  -ms-transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  opacity: 0;
  animation: fade ease-in-out 600ms forwards;
}

.about-three {
  -webkit-transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0)
    rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  -ms-transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  opacity: 0;
  animation: fade ease-in-out 600ms 200ms forwards;
}

.privacy-poilcy {
  -webkit-transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0)
    rotateY(0) rotateZ(0) skew(0, 0);
  -moz-transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  -ms-transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0, 0);
  opacity: 0;
}

.parent {
  width: 100%;
  height: 100%;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.earn-parent {
  width: 100%;
  height: 100%;
}

.review-parent {
  padding-top: 10rem !important;
}

@media screen and (max-width: 600px) {
  .parent {
    padding: 3rem 0 !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .fade-in-and-out-header {
    animation: fadeInSlideUp ease-in-out 300ms;
  }

  .fade-in-and-out-caption {
    animation: fadeInSlideUp ease-in-out 500ms 100ms;
  }
}

.slide-in-search-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade {
  0% {
    transform: translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    opacity: 1;
  }
}

.discover-blur {
  box-shadow: 0 -30px 30px 40px rgba(196, 10, 13, 1);
}

.discover-blur-2 {
  box-shadow: 0 0 20px 17px rgba(196, 10, 13, 1);
}

.recommmeded-property-box-shadow {
  box-shadow: 4px 4px 10px 4px #00000040;
}

.react-multi-carousel-list {
  padding: 2rem 0 2rem 0;
}
/* .react-multi-carousel-item {
  margin: 0 0.3rem !important;
} */

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
}

#tidio-chat-iframe {
  bottom: 50px !important;
}
@media only screen and (max-width: 980px) {
  #tidio-chat-iframe {
    bottom: 70px !important;
  }
}

@layer utilities {
  .custom-dot-list-style button {
    border: none;
    background: rgb(202, 202, 202);
  }

  .tab-test {
    position: relative;
  }

  .line {
    stroke-dasharray: 260;
    stroke-width: 4px;
    fill: transparent;
    stroke: rgba(78, 255, 13, 0.3);
    animation: svgAnimation 1.5s linear infinite;
  }

  @keyframes svgAnimation {
    from {
      stroke-dashoffset: 0;
      stroke: rgba(78, 255, 13, 0.3);
    }
    to {
      stroke-dashoffset: 1000;
      stroke: rgb(255, 65, 13);
    }
  }

  .tab-test::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: transparent;
    border-bottom: 3px solid #feebc7;
    animation: animateTabBorder 500ms ease-in-out forwards 50ms;
  }

  .tab-test::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ff4500;
    animation: animateTab 400ms ease forwards;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes animateTab {
  0% {
    width: 0%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    opacity: 0.7;
  }
  100% {
    width: 100%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    opacity: 0.1;
  }
}

@keyframes animateTabBorder {
  0% {
    width: 0%;
    border-color: red;
  }
  100% {
    width: 100%;
    border-color: #f0ae2f;
  }
}
